@import './styles/variables';

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: $FONT_PRIMARY;
  width: 100%;
  background: $BACKGROUND;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
